@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&family=Ubuntu:wght@700&display=swap");

.fuction-random-tgn-container {
  width: 96%;
  margin: 0 auto;
}
.fuction-random-tgn-container-random {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fuction-random-tgn-container-reward {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fuction-random-tgn-container-reward-css {
  background-color: yellow;
  font-size: 20px;
  padding: 5px;
  margin-top: -5px;
  border-radius: 10px;
}
.fuction-random-tgn-container-button {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.fuction-random-tgn-container-button-css {
  width: 80%;
  height: 50px;
  outline: none;
  border: none;
  background-color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  background-image: linear-gradient(
    rgb(255, 193, 193) 20%,
    rgb(255, 148, 148) 80%
  );
}
.fuction-random-tgn-container-button-css:active {
  margin-top: 2px;
  background-color: white;
  background-image: linear-gradient(
    rgb(255, 172, 172) 20%,
    rgb(255, 124, 124) 80%
  );
}
.fuction-random-tgn-container-history {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.fuction-random-tgn-container-random-text {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  text-align: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-1 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1s;
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-2 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1.1s;
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-3 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1.2s;
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-4 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1.3s;
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-5 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1.4s;
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-6 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1.5s;
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-7 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1.6s;
}
.fuction-random-tgn-container-random-text
  .fuction-random-tgn-container-random-text-span-8 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: 1.7s;
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.fuction-random-tgn-container-random-code {
  font: 800 100px system-ui;
}
.fuction-random-tgn-container-random-code-1::after {
  font: 800 100px system-ui;
  content: counter(count);
  animation: random1 1s linear infinite alternate;
  counter-reset: count 0;
}
.fuction-random-tgn-container-random-code-2::after {
  font: 800 100px system-ui;
  content: counter(count);
  animation: random2 1s linear infinite alternate;
  counter-reset: count 0;
}
.fuction-random-tgn-container-random-code-3::after {
  font: 800 100px system-ui;
  content: counter(count);
  animation: random3 1s linear infinite alternate;
  counter-reset: count 0;
}

@keyframes random1 {
  0% {
    counter-increment: count 0;
  }
  10% {
    color: yellow;
    counter-increment: count 1;
  }
  20% {
    counter-increment: count 2;
  }
  30% {
    counter-increment: count 3;
  }
  40% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 5;
  }
  60% {
    counter-increment: count 6;
  }
  70% {
    counter-increment: count 7;
  }
  80% {
    counter-increment: count 8;
  }
  90% {
    counter-increment: count 9;
  }
  100% {
    counter-increment: count 0;
  }
}
@keyframes random2 {
  0% {
    counter-increment: count 9;
  }
  10% {
    color: cyan;
    counter-increment: count 5;
  }
  20% {
    counter-increment: count 3;
  }
  30% {
    counter-increment: count 5;
  }
  40% {
    counter-increment: count 1;
  }
  50% {
    counter-increment: count 0;
  }
  60% {
    counter-increment: count 2;
  }
  70% {
    counter-increment: count 6;
  }
  80% {
    counter-increment: count 4;
  }
  90% {
    counter-increment: count 7;
  }
  100% {
    counter-increment: count 3;
  }
}
@keyframes random3 {
  0% {
    counter-increment: count 5;
  }
  10% {
    color: chartreuse;
    counter-increment: count 3;
  }
  20% {
    counter-increment: count 7;
  }
  30% {
    counter-increment: count 9;
  }
  40% {
    counter-increment: count 6;
  }
  50% {
    counter-increment: count 8;
  }
  60% {
    counter-increment: count 2;
  }
  70% {
    counter-increment: count 1;
  }
  80% {
    counter-increment: count 2;
  }
  90% {
    counter-increment: count 5;
  }
  100% {
    counter-increment: count 4;
  }
}
